<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Member</title>
<meta http-equiv="Content-Type" content="text/html; charse=UTF-8" />
</head>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script type="text/javascript">
$(document).ready(function() {
	$("#registerBtn01").on("click", function() {
			$.ajax({
					type : "GET",
					url : "/register01",
					contentType :"application/json;charset=UTF-8",
					success:function(data){
						console.log("data : " + data);
						
						alert(JSON.stringify(data));
					},
					error:function(xhr,status,error){
						alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
					}
				});
			});
	$("#registerBtn02").on("click", function() {
		$.ajax({
				type : "GET",
				url : "/register02",
				contentType :"application/json;charset=UTF-8",
				success:function(data){
					console.log("data : " + data);
					
					alert(JSON.stringify(data));
				},
				error:function(xhr,status,error){
					alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
				}
			});
		});
	
	$("#registerBtn03").on("click", function() {
		$.ajax({
				type : "GET",
				url : "/register03",
				contentType :"application/json;charset=UTF-8",
				success:function(data){
					console.log("data : " + data);
					
					alert(JSON.stringify(data));
				},
				error:function(xhr,status,error){
					alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
				}
			});
		});
	
	$("#registerBtn04").on("click", function() {
		$.ajax({
				type : "GET",
				url : "/register04",
				contentType :"application/json;charset=UTF-8",
				success:function(data){
					console.log("data : " + data);
					
					alert(JSON.stringify(data));
				},
				error:function(xhr,status,error){
					alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
				}
			});
		});
	
	
	});
</script>
<body>
<h1>Ajax Member</h1>
<div>
<button id="registerBtn01">register01</button>
<button id="registerBtn02">register02</button>
<button id="registerBtn03">register03</button>
<button id="registerBtn04">register04</button>
</div>
</body>
</html>