<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Member Register2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script type="text/javascript">
$(document).ready(function() {
	
	$("#registerBtn").on("click", function() {
		var userId01 = $("#userId");
		var password01 = $("#password");
		var userName = $("#userName");
		var email = $("#email");
		
		var userId01Val = userId01.val();
		var password01Val = password01.val();
		var userNameVal = userName.val();
		var emailVal = email.val();
		
		var genderVal = $('input[name="gender"]:checked').val();
		
		console.log(genderVal);
		console.log(userId01);
		
		var userObject = {
				userId : userId01Val,
				password : password01Val,
				userName : userNameVal,
				email : emailVal,
				gender : genderVal
		};
	
		$.ajax({
				type : "POST",
				url : "/users",
				data : JSON.stringify(userObject),
				contentType :"application/json;charset=UTF-8",
				success:function(result){
					console.log("result : " + result);
					
					alert(result);
				},
				error:function(xhr,status,error){
					alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
				}
			});
		});
	
	
	});
</script>
<body>
<h1>Register Form</h1>
<div>
	<table>
	<tr>
	<td>유저ID</td>
	<td><input id="userId" name="userId" type="text" value=""/></td>
	</tr>
	<tr>
	<td>패스워드</td>
	<td><input id="password" type="password" value=""/></td>
	</tr>
	<tr> 
	<td>이름</td>
	<td><input id="userName" type="text" value=""/></td>
	</tr>
	<tr> 
	<td>E-MAIL</td>
	<td><input id="email" type="text" value=""/></td>
	</tr>
	<tr> 
	<td>성별</td>
	<td><input id="gender1" type="radio" value="male"/><label for="gender1">Male</label></td>
	<td><input id="gender2" type="radio" value="female"/><label for="gender2">Female</label></td>
	</tr>
	</table>
	<button id="registerBtn">register</button>

</div>
</body>
</html>