<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Member Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script type="text/javascript">
$(document).ready(function() {
	$("#registerBtn01").on("click", function() {
			$.ajax({
					type : "GET",
					url : "/register/hongkd",
					contentType :"application/json;charset=UTF-8",
					success:function(data){
						console.log("data : " + data);
						
						alert(JSON.stringify(data));
					},
					error:function(xhr,status,error){
						alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
					}
				});
			});
	$("#registerBtn02").on("click", function() {
			var userId = $("#userId");
			var password = $("#password");
			
			var userIdVal = userId.val();
			var passwordVal = password.val();
			
			var userObject = {
					userId : userIdVal,
					password : passwordVal
			};
		
			$.ajax({
					type : "GET",
					url : "/register/hongkd/pw01",
					data : JSON.stringify(userObject),
					contentType :"application/json;charset=UTF-8",
					success:function(data){
						console.log("data : " + data);
						
						alert(JSON.stringify(data));
					},
					error:function(xhr,status,error){
						alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
					}
				});
			});
	
	$("#registerBtn03").on("click", function() {
		var userId = $("#userId");
		var password = $("#password");
		
		var userIdVal = userId.val();
		var passwordVal = password.val();
		
		var userObject = {
				userId : userIdVal,
				password : passwordVal
		};
	
		$.ajax({
				type : "POST",
				url : "/register012?userId=user01",
				data : JSON.stringify(userObject),
				contentType :"application/json;charset=UTF-8",
				success:function(data){
					console.log("data : " + data);
					
					alert(JSON.stringify(data));
				},
				error:function(xhr,status,error){
					alert("code:" + xhr.status + "\n" + "message: "+xhr.responseText + "\n" + "error:" + error);
				}
			});
		});
	
	
	});
</script>
<body>
<h1>Ajax Member</h1>
<div>
<button id="registerBtn01">register010</button>
<button id="registerBtn02">register011</button>
<button id="registerBtn03">register012</button>

</div>
</body>
</html>